#
# NKTY all dev configuration
#

menu "NKTY devices 2012"

config NKTYDEV2012
	bool "NKTY devices 2012"

config AT91_UART
	bool "AT91 485 driver"
	select AT91_HASHTAB
	select NKTYCOMMON
	depends on ARCH_AT91RM9200 && NKTYDEV2012
	default y
	help
	  The 485 driver gives 485 COM

config NKTYCPUCARD
	bool "Support CPU Card"
	depends on ARCH_AT91RM9200 && NKTYDEV2012 && AT91_UART
	default n
	help
	  Support CPU Card

config RECORD_CASHTERM
	bool "Record cash terminal status"
	depends on ARCH_AT91RM9200 && NKTYDEV2012 && AT91_UART
	default y
	
config UART_V2
	bool "Uart Version 2.0"
	depends on ARCH_AT91RM9200 && NKTYDEV2012 && AT91_UART
	default y

config AT91_USRI2C
	bool "AT91 user i2c interface"
	depends on ARCH_AT91RM9200 && NKTYDEV2012
	default n
	help
	  The user i2c interface gives support for FRAM and ds137
	  on AT91RM9200

config AT91_USRI2C_GPIO
	bool "AT91 user i2c interface, use gpio"
	depends on ARCH_AT91RM9200 && NKTYDEV2012 && !AT91_USRI2C
	default y
	help
	  The user i2c interface gives support for FRAM and ds137
	  on AT91RM9200
	
	
config AT91_SED1335
	bool "AT91 LCD driver (sed1335)"
	depends on ARCH_AT91RM9200 && NKTYDEV2012
	default y
	help
	  The LCD driver support epson sed1335 on AT91RM9200

config AT91_GPIOB
	bool "AT91 GPIOB driver"
	depends on ARCH_AT91RM9200 && NKTYDEV2012
	default y
	help
	  The GPIOB driver gives key interface on AT91RM9200

config AT91_DATAFLASH
	bool "AT91 DATAFLASH driver"
	depends on ARCH_AT91RM9200 && NKTYDEV2012
	default y
	help
	  The DATAFLASH driver gives AT45DB642 on AT91RM9200

endmenu
