#
# NKTY all dev configuration
#

menu "NKTY devices 21CR"

config NKTYDEV21CR
	bool "NKTY devices 21CR"

config AT91_UART
	bool "AT91 485 driver"
	depends on ARCH_AT91RM9200 && NKTYDEV21CR
	default y
	help
	  The 485 driver gives 485 COM

config AT91_USRI2C
	bool "AT91 user i2c interface"
	depends on ARCH_AT91RM9200 && NKTYDEV21CR
	default n
	help
	  The user i2c interface gives support for FRAM and ds137
	  on AT91RM9200

config AT91_SED1335
	bool "AT91 LCD driver (sed1335)"
	depends on ARCH_AT91RM9200 && NKTYDEV21CR
	default y
	help
	  The LCD driver support epson sed1335 on AT91RM9200

config AT91_GPIOB
	bool "AT91 GPIOB driver"
	depends on ARCH_AT91RM9200 && NKTYDEV21CR
	default n
	help
	  The GPIOB driver gives key interface on AT91RM9200

config AT91_DATAFLASH
	bool "AT91 DATAFLASH driver"
	depends on ARCH_AT91RM9200 && NKTYDEV21CR
	default n
	help
	  The DATAFLASH driver gives AT45DB642 on AT91RM9200

config AT91_FLASH
        bool "AT91 FLASH  driver"
        depends on ARCH_AT91RM9200 && NKTYDEV21CR
        default n

endmenu
